body {
    background: linear-gradient(180deg,#001427 0,#002142 30%);
    color: rgb(190, 190, 190);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

a {
    text-decoration: none;
    color:  #00b8e6;
}

a:hover {
    color:  #0066a1;
}


.navbar {
    background-color: transparent;
}

.navbar-dark .navbar-nav .nav-link {
    padding: 1px 10px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, .8);
    background-color: transparent;
    border-bottom: 4px solid transparent;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
    border-bottom-color: rgb(100, 100, 100);
    border-bottom-color: rgba(255, 255, 255, .4);
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #00b8e6;
    border-bottom-color: #00b8e6;
}

#top-banner {
    /* Top and bottom image for background opacity: */
    background-image: url("images/dragons5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#bottom-banner {
    /* Top and bottom image for background opacity: */
    background-image: url("images/kaiba-blue1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#bottom-banner .col-sm p {
    font-size: max(13px, 1.2vw);
}

.kaiba-pngs {
    width: 60%;
}

#top-banner .card-title {
    font-weight: 700;
    line-height: 1.9;
}

.btn-lg {
    background-color: #084275;
    color: #fff;
    border-color: #fff;
}

.btn-info:hover {
    color: #00b8e6;
    background-color: #000033;
}


.card-links {
    position: absolute;
    color: #fff;
    bottom: 0;
    width: 100%;
    padding: 1vh 1vw;
    background-color: #000;
    background-color: rgba(0,0,0,.56);
}

.card-links .card-title {
    font-size: max(14px, 1.3vw);
}

.card-links .card-text {
    font-size: max(9px, .8vw);
}

.image-links .card {
    border: 0;
    transition: .4s;
}

.image-links .card:hover {
    transform: scale(1.03);
}


footer {
    font-size: 13px;
}

.page-title {
    font-size: max(28px, 2vw);
    font-weight: 600;
    text-align: center;
    line-height: 1.5;
}

.section-title {
    font-size: max(23px, 1.5vw);
    text-align: center;
    line-height: 1.5;
}

.card-links .card-title {
    margin-bottom: 0;
}

.blue-text {
    font-size: clamp(17px, 1.4vw, 25px);
    color: #00b8e6;
}

main {
    font-size: clamp(15px, 1.1vw, 19px);
}

#tier_list_upd ul {
    list-style: none;
    text-indent: -0.3em;
}

.fa-angle-double-up {
    color: green;
}

.fa-angle-double-down {
    color: red;
}



.fa-arrow-circle-up {
    color: green;
}

.fa-arrow-circle-down {
    color: red;
}

